<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Druk Wide Bold.ttf</string>
		<string>Druk.otf</string>
		<string>Drukold.ttf</string>
		<string>Tourney-Black.ttf</string>
		<string>Tourney-BlackItalic.ttf</string>
		<string>Tourney-Bold.ttf</string>
		<string>Tourney-BoldItalic.ttf</string>
		<string>Tourney-ExtraBold.ttf</string>
		<string>Tourney-ExtraBoldItalic.ttf</string>
		<string>Tourney-ExtraLight.ttf</string>
		<string>Tourney-ExtraLightItalic.ttf</string>
		<string>Tourney-Italic.ttf</string>
		<string>Tourney-Light.ttf</string>
		<string>Tourney-LightItalic.ttf</string>
		<string>Tourney-Medium.ttf</string>
		<string>Tourney-MediumItalic.ttf</string>
		<string>Tourney-Regular.ttf</string>
		<string>Tourney-SemiBold.ttf</string>
		<string>Tourney-SemiBoldItalic.ttf</string>
		<string>Tourney-Thin.ttf</string>
		<string>Tourney-ThinItalic.ttf</string>
		<string>Tourney-Bold.otf</string>
		<string>Tourney-BoldItalic.otf</string>
		<string>Tourney-Condensed.otf</string>
		<string>Tourney-CondensedBold.otf</string>
		<string>Tourney-CondensedBoldItalic.otf</string>
		<string>Tourney-CondensedExtraBold.otf</string>
		<string>Tourney-CondensedExtraBoldItalic.otf</string>
		<string>Tourney-CondensedExtraLight.otf</string>
		<string>Tourney-CondensedExtraLightItalic.otf</string>
		<string>Tourney-CondensedHeavy.otf</string>
		<string>Tourney-CondensedHeavyItalic.otf</string>
		<string>Tourney-CondensedItalic.otf</string>
		<string>Tourney-CondensedLight.otf</string>
		<string>Tourney-CondensedLightItalic.otf</string>
		<string>Tourney-CondensedMedium.otf</string>
		<string>Tourney-CondensedMediumItalic.otf</string>
		<string>Tourney-CondensedSemiBold.otf</string>
		<string>Tourney-CondensedSemiBoldItalic.otf</string>
		<string>Tourney-CondensedThin.otf</string>
		<string>Tourney-CondensedThinItalic.otf</string>
		<string>Tourney-ExtraBold.otf</string>
		<string>Tourney-ExtraBoldItalic.otf</string>
		<string>Tourney-ExtraLight.otf</string>
		<string>Tourney-ExtraLightItalic.otf</string>
		<string>Tourney-Heavy.otf</string>
		<string>Tourney-HeavyItalic.otf</string>
		<string>Tourney-Italic.otf</string>
		<string>Tourney-Light.otf</string>
		<string>Tourney-LightItalic.otf</string>
		<string>Tourney-Medium.otf</string>
		<string>Tourney-MediumItalic.otf</string>
		<string>Tourney-Regular.otf</string>
		<string>Tourney-SemiBold.otf</string>
		<string>Tourney-SemiBoldItalic.otf</string>
		<string>Tourney-Thin.otf</string>
		<string>Tourney-ThinItalic.otf</string>
		<string>Tourney-Wide.otf</string>
		<string>Tourney-WideBold.otf</string>
		<string>Tourney-WideBoldItalic.otf</string>
		<string>Tourney-WideExtraBold.otf</string>
		<string>Tourney-WideExtraBoldItalic.otf</string>
		<string>Tourney-WideExtraLight.otf</string>
		<string>Tourney-WideExtraLightItalic.otf</string>
		<string>Tourney-WideHeavy.otf</string>
		<string>Tourney-WideHeavyItalic.otf</string>
		<string>Tourney-WideItalic.otf</string>
		<string>Tourney-WideLight.otf</string>
		<string>Tourney-WideLightItalic.otf</string>
		<string>Tourney-WideMedium.otf</string>
		<string>Tourney-WideMediumItalic.otf</string>
		<string>Tourney-WideSemiBold.otf</string>
		<string>Tourney-WideSemiBoldItalic.otf</string>
		<string>Tourney-WideThin.otf</string>
		<string>Tourney-WideThinItalic.otf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
